---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import LinkButton from "@components/LinkButton.astro";
import Hr from "@components/Hr.astro";
import Card from "@components/Card";
import Socials from "@components/Socials.astro";
import getSortedPosts from "@utils/getSortedPosts";
import slugify from "@utils/slugify";
import Hero from "@components/Hero.astro";
import { SOCIALS } from "@config";

const posts = await getCollection("blog");

const sortedPosts = getSortedPosts(posts);
const featuredPosts = sortedPosts.filter(({ data }) => data.featured);

const socialCount = SOCIALS.filter(social => social.active).length;
---

<Layout>
  {
    // only display if at least one social link is enabled
    socialCount > 0 && (
    <div  class="absolute top-0 left-5 z-50 animate__animated animate__jello sm:left-20">
      <img src="images/linetop.svg" alt="">
      <Socials />

    </div>
     
    )
  }
  <Header />
  <main id="main-content">
    <Hero></Hero>
   
    {
      featuredPosts.length > 0 && (
        <>
          <section id="featured" class="sm:max-w-[72rem]" >
            <div class="flex ">
              <span class="text-[19px] sm:text-[30px]"> <a class="text-[#6FCF97]">~/</a>projects </span>
	            <img class="sm:hidden ml-3" width="100px" height="300px" src="images/Line.svg" ><img/>
	            <img class="absolute left-200% invisible sm:visible sm:relative sm:ml-5" src="images/LineBig.svg" ><img/>
              <a class="mt-2 ml-2 sm:mt-3 sm:ml-200" href="/projects"><img src="/images/View all.svg" alt="">  </a>    
            </div>
            <ul class="sm:grid grid-cols-3 gap-[10rem]">
              {featuredPosts.map(({ data }) => (
                <Card
                  href={`/projects/${slugify(data)}`}
                  frontmatter={data}
                  secHeading={false}
                />
              ))}
            </ul>
          </section>
        </>
      )
    }

    <section id="About-me" class="sm:max-w-[72rem]">
      <div class="flex ">
              <span class="text-[19px] sm:text-[30px]"> <a class="text-[#6FCF97]">~/</a>About-me </span>
	            <img class="sm:hidden ml-3" width="100px" height="300px" src="images/Line.svg" ><img/>
	            <img class="absolute left-200% invisible sm:visible sm:relative sm:ml-5" src="images/LineBig.svg" ><img/>
      </div>
      <p class="mt-5">I'm Hanan, a software development student at ITU, and also the founder of Elusive and UAI. <br>My goal is to use my software skills to develop innovative solutions for modern problems. <br> I am passionate about working at the intersection of technology and business.</p>
      <a href="/about"><button class="border-[1px]	border-[#6FCF97] h-[37px] w-[148px] mt-10 font-code sm:w-[200px]">Read more</button></a>
    </section>

    <section id="Conact-me" class="sm:max-w-[72rem] sm:h-[30rem]">
      <div class="flex ">
              <span class="text-[19px] sm:text-[30px]"> <a class="text-[#6FCF97]">~/</a>Conact </span>
	            <img class="sm:hidden ml-3" width="100px" height="300px" src="images/Line.svg" ><img/>
	            <img class="absolute left-200% invisible sm:visible sm:relative sm:ml-5" src="images/LineBig.svg" ><img/>
      </div>
      <p class="sm:absolute sm:mt-32 sm:w-[500px] ">I’m interested in freelance opportunities or part time work. However, if you have other request or question, don’t hesitate to contact me</p>
      <div class="border-[1px] h-32	border-[#6FCF97] sm:w-[185px] sm:h-[141px] sm:absolute sm:ml-[40rem] sm:mt-[5rem] text-center">
        <p class="text">Contact me here</p>  
        <a class="absolute mt-10 -ml-[3.5rem]" href="mailto:hanan@uai.dk" class="text-blue-500 hover:underline">hanan@uai.dk</a>
      </div>
    </section>
  </main>

  <Footer />
</Layout>

<style>
  /* ===== Hero Section ===== */
  
  #hero {
    @apply pt-8 pb-6;
  }
  #hero h1 {
    @apply my-4 inline-block text-3xl font-bold sm:my-8 sm:text-5xl;
  }
  #hero .rss-link {
    @apply mb-6;
  }
  #hero .rss-icon {
    @apply mb-2 h-6 w-6 scale-110 fill-skin-accent sm:mb-3 sm:scale-125;
  }
  #hero p {
    @apply my-2;
  }
  .social-wrapper {
    @apply mt-4 flex flex-col sm:flex-row sm:items-center;
  }
  .social-links {
    @apply mr-2 mb-1 whitespace-nowrap sm:mb-0;
  }

  /* ===== Featured & Recent Posts Sections ===== */
  
  #featured,
  #About-me,
  #Contact-me{
    @apply pt-12 pb-6;
  }
  #featured h2,
  #About-me h2,
  #Contact-me h2{
    @apply text-2xl font-semibold tracking-wide;
  }
  .all-posts-btn-wrapper {
    @apply my-8 text-center;
  }
</style>
