<section id="hero" class="mt-20 mb-60 sm: max-w-[72rem]" >
    
    <div class="ml-10 w-[330px] h[139] sm:w-[550px] sm:ml-20 md:ml-0">
        <h2 class="font-bold text-[23px] font-code sm:text-[32px]">Hi i am Hanan a <span class="text-[#D90416]">student</span>  and <span class="text-[#D90416]">entrepreneur</span></h2>
        <p class="font-code sm: text-[20px] mt-3">I like to create cool stuff and i like putting it on the internet....</p>
    </div>
    <div class="grid grid-cols-2 mt-10 ml-4 sm:ml-20 md:ml-0">
        <a href="#Conact-me"><button class="border-[1px]	border-[#6FCF97] h-[37px] w-[148px] font-code">Contact me!!</button></a>
        <img class="sm:absolute sm:-mt-60 sm:ml-[50rem] w-[400px]" src="/images/hanan.png" alt="">
    </div>
    <div class="mt-8">
        <img class="absolute ml-2 z-[-1]" src="/images/Dots.svg" alt="">

        <div class="absolute w-[328px] h-[106px] bg-[#D9B95B] ml-12 mt-7  z-10 sm:w-[640px]">
            <p class="absolute mt-4 font-code text-[#fff] text-[20px] w-[271px] z-10 ml-8 sm:text-[24px] sm:w-[100%] sm:mt-8">“Dreams come true when you don’t sleep.”</p>
        </div>
        <img class="absolute left-20 mt-3 z-10 sm:left-[400px]" src="/images/qute.svg" alt="">

        <div class="absolute w-[248px] h-[63px] border-[1px] border-[#333333] ml-32 mt-[7.5rem] z-20 animate__animated animate__backInRight">
            <span class="absolute font-code text-[27px] mt-2">- virgil abloh.</span>
        </div>
    </div>
</section>